#title{
    margin:auto;
    width:36%;
    margin-top:80px;
    margin-bottom:50px;
}

#logo{
    height:100%;
    width:100%;
}

#select{
    max-width:1300px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(3,calc(33% - 30px));
    grid-column-gap: 30px;
    justify-content: center;
    padding-top:10px;
    text-align:center;
}

#select img{
    height:100%;
    width:100%;
}

